
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Raleway&family=Roboto:wght@300&display=swap');


.header{
    width:100%;
    font-family: 'Raleway', Georgia, Times, 'Times New Roman', serif;
    position: absolute;
}
nav{
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headshot{
    margin-left: 1rem;margin-top: 5rem;
}
.headshot h1{
    font-size: 30px;
    color: blueviolet;
}
.ul-items{
    display: flex;
    list-style: none;
    align-items: center;
}
.ul-items li{
    margin-right: 3.5rem;
}
.ul-items li a{
    color: rgb(44,40,40);
    text-decoration: none;
}

.ul-items li a:hover{
    border-bottom: 4px solid purple ;
}
